{% extends 'base.html' %}

{{ 'active' if active_page == 'about_me' else '' }}

{% block title %}
About Me
{% endblock %}

{% block content %}

<body class="text-center">
  <style media="screen">
    h1.test1 {
      font-family: Georgia, sans-serif;
      font-size: 5em;
      letter-spacing: -2px;
    }
    h3.test1 {
      font-family: Georgia, sans-serif;
      font-size: 3em;
      letter-spacing: -2px;
    }
    p.test1{
      font-family: Georgia, sans-serif;
    }
  </style>
  <div class="container" style="text-align:center; margin-right: 260px">
    <div class="col-9">
      <br>
      <h1 class="test1">About Me</h1>
      <br>
      <img class="img-fluid" src="../static/img/python.png" width="350px" alt="Responsive image">
      <br>
      <br>
      <h2>
        <p style="text-align:left;" class="lead test1">
          <strong>
            Hello my name is <mark>Nicolas Cinera</mark> and I am the author of this site.
             My friends usually call me Nick, and I am in my first semester in the BAIS Masters program at USF.<br><br>
            I am in my early 20's, so I don't have much professional experience but I am eager to proof myself in Software Engineer / Data Science related roles.
             In my free time I like learning about new frameworks, in the last few years I have been very passionate about Python.
             Some of my favorite libraries include pandas, opencv, flask, pygame, and the ever trusty requests!
             I am a proud member of the Society of Competitve Programmers here at USF!
            <br><br>Other of my non-code related hobbies include powerlifting, reading, anime and movies.
            <br>I am trying to go for a 405lbs squat before the semester ends (370 current).
          </strong>
        </p>
      </h2>
      <br>
      <br>
      <h3 class="test1">Git Log</h3>
      <img class="img-fluid" src="../static/img/git_log.png" alt="Responsive image" style="border: 5px solid #555;">
      <br>
      <br>
      <br>
      <h3 class="test1">Data Model</h3>
      <img class="img-fluid" src="../static/img/data_model1.png" alt="Responsive image" style="border: 5px solid #555;">
    </div>
  </div>
<br>
<br>
</body>



{% endblock %}
