{% extends 'base.html' %}

{% block title %}
About Me
{% endblock %}

{% block content %}
<h1>Hello I am Nick the Author of this site</h1>

<body class="text-center">
  <img class="rounded-circle" src="https://i.kym-cdn.com/photos/images/original/001/980/634/8dd.png" alt="">

  <h2>Author: Nicolas Cinera</h2>
  <h2>email: cineran.usf.edu</h2>
  <h3>About Me: I am a student at USF!</h3>
  <h4>I developed this site 100% on my own</h4>
  <p>This is a test website built for ISM 6225</p>
</body>


{% endblock %}