{% extends 'base.html' %}

{% set active_page = "stocks" %}

{% block title %}
{{symbol}}
{% endblock %}

{% block content %}
<style media="screen">
  h2.test1 {
    font-family: Georgia, sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
  }
  h3.test1 {
    font-family: Georgia, sans-serif;
    font-size: 3em;
    letter-spacing: -2px;
  }
  p.test1{
    font-family: Georgia, sans-serif;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<a href="{{ url_for('stocks') }}">
  <button class="btn btn-outline-info my-2 my-0" style="margin:40px;" type="submit" name="reset" href="{{url_for('stocks')}}">All Stocks</button>
</a>
<h3 class="test1" style="text-align:center">{{name}}</h3>
<canvas id="lineChart" width="900" height="400">
  <script>
    var ctx = document.getElementById("lineChart").getContext("2d")
    let mycolor;
    var lineChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: {{ labels | safe }},
        datasets: [{
          label: "Closing Price",
          data: {{ data | safe }},
          fill: true,
          fillColor : "rgba(151,187,205,0)",
          borderColor: {{ color | tojson }},
          lineTension: 0.1
        }]
      },
      options: {
        responsive: true
      }
    });
  </script>
</canvas>
<br>
<br>
{% endblock %}
