{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock %}

{% block content %}

<body class="text-center">
  <br>
  <div class="container">
    <form class="form-register" style="color:white" method="post">
      <img class="rounded-circle" src="https://media1.giphy.com/media/sQBkCTTrJRLSE/giphy.gif" alt="">
      <h1 class="h1 mb-3 font-weight-normal">
        Register Account
      </h1>
      <br>
      <form class="form-register" style="color:white" action="register.html" method="POST">
        <input class="form-control" placeholder="Name" name='name' type="text">
        <br>
        <input class="form-control" placeholder="Last" name='last' type="text">
        <br>
        <input class="form-control" placeholder="Email" name='email' type="text">
        <br>
        <input type="submit" name="submit" value="Submit" class="btn btn-success btn-lg btn-block">
      </form>
    </form>
  </div>
</body>


{% endblock %}