{% extends 'base.html' %}

{% block title %}
Stock Information
{% endblock %}

{% block content %}
<form class="form-register" style="color:white" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q">
  <button class="btn btn-outline-success my-2 my-0" type="submit" name="search">Search</button>
  <button class="btn btn-outline-danger my-2 my-0" type="submit" name="reset" href="{{url_for('stocks')}}">Reset</button>
</form>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <!-- Your Columns HERE -->
      <th scope="col">Company</th>
      <th scope="col">Symbol</th>
      <th scope="col">Latest Price</th>
      <th scope="col">Average Total Volume</th>
      <th scope="col">52 Week High</th>
      <th scope="col">52 Week Low</th>
      <th scope="col">IEX Volume</th>
    </tr>
  </thead>
  <tbody>
    <!-- Your rows inside the table HERE: -->
    {%for data in stock_data%}
    <tr>
      <td>{{data.name}}</td>
      <td>{{data.symbol}}</td>
      <td>{{data.latest_price}}</td>
      <td>{{data.prettier_budget}}</td>
      <td>{{data.fifty_high}}</td>
      <td>{{data.fifty_low}}</td>
      <td>{{data.pretty_iex}}</td>
      <td>
        <a href="/info/{{data.symbol}}">
          <input type="submit" name="info" value="More Info" class='btn btn-outline-info my-2 my-0'>
        </a>
        <a href=" {{ url_for('coming_soon') }}">
          <button class='btn btn-outline-success my-2 my-0'>Purchase</button>
        </a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock %}