{% extends 'base.html' %}

{% block title %}
Update Page
{% endblock %}

{% block content %}
<style media="screen">
  /* body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
  } */
  #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;        /* Footer height */
  }

  .card {
    margin-bottom: 20px;
    border: none
    top: 50%;
    left: 50%;
    position: fluid
  }

  .box {
    width: 600px;
    max-width: 100%;
    padding: 40px;
    position: fluid;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 50px
  }

  .box input[type="text"],
  .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
  }

  .box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
  }

  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
  }

  .box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
  }

  .box input[type="submit"]:hover {
    background: #2ecc71
  }

  .forgot {
    text-decoration: underline
  }

  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
  }

  ul.social-network li {
    display: inline;
    margin: 0 5px
  }

  .social-network a.icoFacebook:hover {
    background-color: #3B5998
  }

  .social-network a.icoTwitter:hover {
    background-color: #33ccff
  }

  .social-network a.icoGoogle:hover {
    background-color: #BD3518
  }

  .social-network a.icoFacebook:hover i,
  .social-network a.icoTwitter:hover i,
  .social-network a.icoGoogle:hover i {
    color: #fff
  }

  a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD
  }

  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
  }

  .social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
  }

  .social-circle li a:hover i,
  .triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
  }

  .social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="background-color: rgb(33,33,33);">
        <form class="box" action="/update/{{user_to_update.id}}" method="POST">
          <div class="container">
            <form class="form-register" style="color:white" method="post">
              <img src="https://i.gifer.com/ZgRn.gif" style="width: 300px" alt="">
              <h1 class="h1 mb-3 font-weight-normal">
                Update Your Account
              </h1>
              <br>
              <form class="form-register" style="color:white" action="/update/{{user_to_update.id}}" method="POST">
                <label>Username</label>
                <input class="form-control" placeholder="Username" name='username' type="text" value="{{user_to_update.username}}">
                <br>
                <label>Name</label>
                <input class="form-control" placeholder="Name" name='name' type="text" value="{{user_to_update.name}}">
                <br>
                <label>Last Name</label>
                <input class="form-control" placeholder="Last" name='last' type="text" value="{{user_to_update.last}}">
                <br>
                <label>Email</label>
                <input class="form-control" placeholder="Email" name='email' type="text" value="{{user_to_update.email}}">
                <br>
                <label>Budget</label>
                <input class="form-control" placeholder="Budget" name='budget' type="text" value="{{user_to_update.budget}}">
                <br>
                <input type="submit" name="submit" value="Update" class="btn btn-outline-success">
              </form>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<!-- <body class="text-center">
  <br>
  <div class="container">
    <form class="form-register" style="color:white" method="post">
      <img class="rounded-circle" src="https://i.pinimg.com/originals/2f/f7/c8/2ff7c8247dba811ba161c643b89d20e1.gif" alt="">
      <h1 class="h1 mb-3 font-weight-normal">
        Update Your Account
      </h1>
      <br>
      <form class="form-register" style="color:white" action="/update/{{user_to_update.id}}" method="POST">
        <input class="form-control" placeholder="Name" name='name' type="text" value="{{user_to_update.name}}">
        <br>
        <input class="form-control" placeholder="Last" name='last' type="text" value="{{user_to_update.last}}">
        <br>
        <input class="form-control" placeholder="Email" name='email' type="text" value="{{user_to_update.email}}">
        <br>
        <input class="form-control" placeholder="Budget" name='budget' type="text" value="{{user_to_update.budget}}">
        <br>
        <input type="submit" name="submit" value="Update" class="btn btn-success btn-lg btn-block">
      </form>
    </form>
  </div>
</body> -->


{% endblock %}
